.nm-play-list-view {
     line-height: @nm-list-item-height;

     overflow-x: hidden;


    li
    {
        margin-left: 32px;
        margin-right: 16px;
         overflow-x: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
    }
}
