#player-view {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    > .music-operation
    {
        flex: 0 0 100px;
        background-color: #7687b8;
    }

    > .music-process
    {
        flex: 0 0 400px;
    }

    > .music-like
    {
        flex: 0 0 200px;
        background-color: red;
    }
}
