#search {
    background-color: white;
    border-radius: 12px;
    width: 300px;
    height: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 160px;

    .icon-search
    {
        color: gray;

    }

    input[type="search"]
    {
        height: 16px;
        border: none;
        background: transparent;
        width: 200px;
        margin: 0;
        margin-left: 8px;


    }



}
